{% if lanches %}
    <h1>Cardápio</h1>
    <table>
        <tr>
            <th>
                Lanche
            </th>
            <th>
                Valor
            </th>
        </tr>
        {% for lanche in lanches %}
            <tr>
                <td>
                    <a href="{% url 'startupAlimentos:detail' lanche.id %}">{{ lanche.nome }}</a>
                </td>
                <td>
                    <a href="{% url 'startupAlimentos:detail' lanche.id %}">{{ lanche.valor }}</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2" align="center">
                <a href="{% url 'startupAlimentos:montarLanche' %}">Montar lanche</a>
            </td>
        </tr>
    </table>
{% else %}
    <p>Nenhum lanche disponível.</p>
{% endif %}
